.app {
  text-align: center;
}

.image {
  position: absolute;
  margin: auto;
  top: 50px;
  right: 0;
  left: 0;
  width: 600px;
  height: 600px;
}

.tooltip {
  position: absolute;
  color: #fff;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}

img {
  position: inherit;
  width: 100%;
  height: auto;
  border: 5px solid #000000;

}

.btn-upload {
  position: absolute;
  top: 700px;
  margin: auto;
  right: 0;
  left: 0;
}

button {
  border: 1px solid #000;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.upload-img {
  background-color: #44b2c3;
  color: #ffffff;
  margin-right: 30px;
}

.btn-identify {
  margin-right: 12px;
}

.desc-input {
  height: 30px;
  width: 200px;
  margin-left: 12px;
}

.tip {
  padding-top: 15px;
}
